.App {
    background-color: lightblue;
    text-align: center;   
}

.pathLabel {
    font-size: 30px;
    background-color: lightgray;
}

.pathInput {
    font-size: 25px;
    border-radius: 5px;
}

.submitBtn {
    width: 100px;
    height: 30px;
}

.jsonViewContainer {
    margin:4em 15em 0 15em;
    border-color: black 1px solid;
    background-color: white;
    width: 50%;
    text-align: left;
}